body {
    background-color: rgb(246, 255, 127);

    

}

header{
    background-color: rgb(79, 87, 67);
    padding: 20px;
    .nav
}
.nav {
    display:block;text-size-adjust:240px;
    padding-left:2cm;
    align-content: right;
    overflow: hidden;
    text-align: right;


}section


